   mat-toolbar{
    background: #185BB2;
    height:70px;
  }
  .main-logo {
    height: 32px;
  }
  .block{
    display: block;
  }
  .none{
    display: none;
  }
  i{
    margin-top: 15px;
    padding-left: 25px;
  }
  p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    width: 179px;
    height: 47px;
    left: 40px;
    top: 10px;
    font-size: 30px;
    line-height: 47px;
    color:#ffffff;
    }
    #Id1{
      position: absolute;
      width: 235px;
      height: 28px;
      left: 500px;
      top: 20px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      
      color: #FFFFFF;
    }
  
  .searchbar{
      float:right;
      margin-top: 8px;
     /* margin-right: 16px; */
    font-size: 14px;
    height:37px;
    padding:8px;
    width:500px;
    border: 1px solid #185BB2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0px;
  }

.dropdown{
 width:180px;
 background-color: #185BB2;
 font-size:15px;
 text-align: center; 
 color: white;
 border:0px;
   outline:0px;
}
  span{
    width: 100%;
    text-align: center; 
  }

  /* .heading{
    float: right;
    padding:5px;
  } */
  mat-icon{
    color:#185BB2;
    /* border: 1px solid black; */
    height: 15px;
    width: 15px;
    float:right;
    margin-right:40px;
    cursor: pointer;
}
button{
    height:40px;
    width:100px;
 background-color: #185BB2;
 color: white;
}
table {
  width: 100%;
  background-color:whitesmoke;
  cursor: pointer;
}

.breadcrumbs{
  margin-left: auto;
  margin-right: auto;
  height:40px;
  background-color: none;
  padding-left: 20px;

}
.table-panel {
  padding-top: 1.2%;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}
.table-scroll{
  height:calc(100vh - 220px);
  overflow-x: auto;
}
td{
  font-size: 14px;
  height:0px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
}
.mat-elevation-z8 {
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .12), 0 1px 1px 1px rgba(0, 0, 0, .14), 0 1px 1px 1px rgba(0, 0, 0, .12);
}
th{
  background-color:gray;
  text-align: center;
  font-size: 12px;
  color: #fff;
  width:20%;
  font-family: Roboto;
  font-style: normal;
font-weight: normal;
}
th.mat-sort-header-sorted {
  color: black;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #708090 !important;
}
::-webkit-scrollbar {
  width: 8px;
} 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #98AFC7; 
} 
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #98AFC7; 
}

#childTable{
  width:100%;
   margin-top:20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.example-element-detail th{
  width:100%;
  background-color:gray;

}
.example-element-detail td{
  width:100%;
  padding:20px;
}
.example-element-detail td{
  width:100%;
}

.example-element-detail:not(.example-expanded-row):hover tr{
  background: #f5f5f5;
}

.example-element-detail:not(.example-expanded-row):active tr{
  background: #efefef;
}

.example-element-detail td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}  
 
input[type='checkbox'] {
  display: none;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  border-bottom-style:none !important;
}
